/* Google Css */

html,
body,
div,
input,
ul {
	border: none;
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
	font-family: arial;
	overflow: hidden;
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: center;
}

.vertical-center {
	margin-bottom: 30vh;
	width: 100%;
}

.logo {
	height: auto;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	width: 300px;
}

.search {
	border-color: #DDDDDD;
	border: 1px solid;;
	display: block;
	height: 26px;
	margin: 0 auto 15px auto;
	max-width: 400px;
	padding: 0 5px 0 5px;
	transition: .2s;
	width: 90%;

	&:focus,
	&:hover	{
		border-color: #4683EA;
	}
}

.btn-wrap {
	text-align: center;
}

.btn {
	background: #FFFFFF;
	border-color: #DDDDDD;
	border: 1px solid;
	border-radius: 2px;
	display: inline-block;
	font-size: .8em;
	line-height: 26px;
	margin: 0 auto;
	text-align: center;
	transition: .2s;

	&:hover {
		border-color: #AAAAAA;
		cursor: pointer;
	}
}

.sign-in {
	background: #4683EA;
	border-color: #4683EA;
	color: #FFFFFF;
	font-weight: bold;
	padding: 2px 10px 2px 10px;

	&:hover {
		border-color: #4683EA;
		color: #DDDDDD;
		cursor: pointer;
		text-decoration: none;
	}
}

/* [Nav Styles] */

nav {
	height: 50px;
}

footer {
	height: 45px;

	li {
		line-height: 45px;
	}

	a {
		color: #666666;

		&:hover {
			color: #666666;
		}
	}
}

a {
	color: #222222;
	font-size: .8em;
	font-weight: normal;
	text-decoration: none;
	transition: .2s;

	&:hover {
		color: #000000;
		text-decoration: underline;
	}
}

ul {
	display: inline; // Needed for the footer
	list-style: none;
	margin-right: 30px;
}

.right {
	float: right;
}

li {
	display: inline;
	line-height: 50px; // Set to same height as container for vertical centering
	margin-left: 20px;
}

@media only screen and (max-width: 30em) {
	footer {
		height: 75px;

		ul {
			display: block;
			text-align: center;
		}

		li {
			line-height: 2;
		}

		.right {
			float: none;
		}
	}

	.vertical-center {
		margin-bottom: 20%;
	}
}

